@import 'tailwindcss';

:root {
  --background: #08090c;
  --foreground: #fff;

  --highlight-color: #a3e635;
  --card-color: #18181b;

  --text-primary: #fff;
  --text-secondary: #808080;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-header: var(--font-header);
  --font-text: var(--font-text);

  --color-secondary: var(--text-secondary);
  --color-highlight: var(--highlight-color);
  --background-color-card: var(--card-color);
  --background-color-highlight: var(--highlight-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-text);
}
